.freedom-grad-rd {
  border: 1px solid rgba(0, 0, 128, 1) !important;
  border-radius: 10px !important;
  background: hsla(212, 58%, 12%, 1);
  background: linear-gradient(360deg, hsla(212, 58%, 12%, 1) 30%, hsla(217, 100%, 50%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0D1E31", endColorstr="#0061ff", GradientType=1 );
}
