.registration-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  box-shadow: 0px 0px 15px -5px black;
}

.registration-page > .jumbotron-1 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.norm {
  text-transform: none !important;
}
